.header {
    height: 4.8rem;
    width: 100%;
    padding: 0 1rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #28313f;
    color: white;
    border-bottom: .2 px solid #a6a9ad;
}

.header--left {
    display: flex;
    align-items: center;    
}

.header--left img {
    height: 2rem;
    margin: .5rem;
}

.header--right {
    cursor: pointer;
}

.lg-menu {
    display: flex;
    align-items: center;
}

.header--right h2 {
    color: #bcbec2;
    font-size: 14px;
}

.header--right h2:hover {
    color: aliceblue;
}

.header--right img {
    height: 1.4rem;
    margin-right: .5rem;
    filter: invert(.7);
}

.header--right img:hover {
    filter: invert(1);
}

.sm-menu {
    display: none;
}



@media screen and (max-width: 1000px) {


    .lg-menu {
        display: none;
    }
    .sm-menu {
        display: flex;
        align-items: center;
        padding: 0 .5rem;
    }

    .sm-menu img {
        height: 2.5rem;
        object-fit: cover;
        filter: invert();
    }
  }