.paywrapper--three{
    grid-column: 2 / span 3;
    width: 100%;
    height: 380px;
    background-color: #28313f;
    border-radius: 10px;
    padding-top: 1.5rem;
}

.paywrapper--three h3 {
  position: sticky;
  top: 2rem;
  margin: 0 0 1rem 2rem;
  color: aliceblue;
}

.history-table {
  height: 290px;
  overflow-y: scroll;

}

.history-table table {
  width: 100%;
  color: white;
  text-align: center;
  padding: 0 1rem;
}

.history-table table thead {
  position: sticky;
  top: 0;
  width: 100%;
  height: 2rem;
  background-color: #113d85;
  color: #a6a9ad;
}

.history-table table th {
  border-radius: 6px;
}

.history-table table td {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(99, 97, 97);
}
  
.history-table table h4 {
  color: rgb(124, 124, 87);
}

.history-table table p {
  color: rgb(8, 221, 8);
}

/* action */
.edit-btn {
  background-color: #007bff;
  color: white;
  margin: 0 1rem;
  border: none;
  padding: .3rem 1rem;
  border-radius: 6px;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: .3rem 1rem;
  border-radius: 6px;

}

.delete-btn:hover {
  background-color: #a71d2a;
}

@media screen and (max-width: 850px) {
    
  .history-table {
    overflow: auto;
  }

  .history-table table {
    width: 100%;
    min-width: 760px;
    overflow: scroll;
  }

}  