.reset-bg {
  height: 100dvb;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.5) 50%
  );
}

.reset-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  color: #fff;
}

.logo {
  font-size: 50px;
  margin-bottom: 20px;
}

.password-wrapper {
  width: 100%;
  border-radius: 5px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  height: 2.9rem;
  margin-bottom: 1.4rem;
}

.password-wrapper input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background: transparent !important;
  outline: none !important;
}

.password-wrapper img {
  height: 1.7rem;
  cursor: pointer;
  margin: 0.8rem 0.4rem 0 0;
}

.password-wrapper input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: rgb(57, 57, 243);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 16px;
}

.btn:hover {
  background: #fff;
  color: blue;
}

.reset-note {
  text-align: center;
  font-family: sans-serif;
  color: rgb(192, 199, 199);
}
