.sidebar {
  height: 670px;
  background-color: #28313f;
  display: flex;
  border-radius: 10px;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
  margin-top: 5rem;
  gap: 2.2rem;
  color: #e2e5e9;
}

.sidebar li {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 8px 0;
}

.sidebar li h4 {
  text-align: center;
  vertical-align: middle;
}

.sidebar li:hover {
  color: rgb(42, 251, 5);
}

.sidebar--dropdown img {
  height: 2rem;
  margin-right: 0.7rem;
  filter: invert(0.6);
  vertical-align: middle;
}

.sidebar--dropdown .active {
  font-weight: bold;
  color: rgb(12, 216, 138);
}

.log--out {
  display: none;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    position: absolute;
    height: 28rem;
    top: 5.5rem;
    right: 1rem;
    z-index: 100;
    background-color: black;
  }
  .sidebar ul {
    margin-top: 2.2rem;
    gap: 1rem;
    color: #e2e5e9;
    padding: 0 2.7rem;
  }

  .sidebar li {
    height: 2.2rem;
  }

  .sidebar--dropdown img {
    height: 1rem;
    
  }

  .sidebar li img {
    height: 2rem;
    object-fit: cover;
  }

  .log--out {
    display: contents;
  }
}